{% extends 'base.html' %}
{% block title %}Growth - Login{% endblock title %}
{% block content %}

<div class="form-row">
    <div class="form-row center">
        <form method="post" action="">
            {% csrf_token %}
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="input" class="form-control" name="username" id="inputEmail" placeholder="Användarnamn" required>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" name="password" id="inputPass" placeholder="Lösenord" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Logga in" class="btn float-right login_btn">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
    </div>
</div>
{% endblock content %}