{% extends 'base_admin.html' %}
{% block title %}Growth - Login{% endblock title %}
{% block content %}
<style type="text/css" media="screen">

</style>
<div class="row">
    <div class="col-lg">
        <div class="card">
            <h3>Total Pictures: <b>{{get_total_plants.the_sum}}</b></h3>
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="card">
            <h3>Total Days Documented: </h3>
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
    </div>
</div>
<div style="overflow-x:auto; margin:auto; text-align: auto;">
    <table style="text-align: auto;">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Total Photos</th>
            <th>Download Photos</th>
            <th>Delete Photos</th>
        </tr>
        {% for plant in get_plants %}
        <tr>
            <td>{{plant.name}}</td>
            <td>{{plant.description}}</td>
            <td>{{plant.created_at}}</td>
            <td>{{plant.total_pictures}}</td>
            <td><a href="{% url 'core:upload_photo' plant.id %}">Uppload Photo</a></td>
            <td><a href="{% url 'core:download_image' plant.id %}">Download Photos</a></td>
            <td><a href="{% url 'core:delete_plant' plant.id %}">Delete Plant</a></td>
            
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}